{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}
	<h1>This is Page 1</h1>
	
	<form action="/search-results">
		<!-- <label for="searchterm">Search:</label><br> -->
		<input type="text" id="searchterm" name="searchterm" placeholder="Search">
		<input type="submit" value="Submit">
	</form>
	
	<div>
		{{ modals }}
	</div>
	
	<button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#imgModal">
		Open modal
	</button>
	
	<div class="row">
		{{ pieces }}
	</div>

{% endblock %}
